Source: dlauncher
Section: web
Priority: optional
Maintainer: Saucedo <saucedo.fuentes@outlook.es>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://drupalconsole.com/
#Vcs-Git: https://anonscm.debian.org/collab-maint/dlauncher.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/dlauncher.git

Package: dlauncher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, php7.0
Description: Drupal Console Launcher
 The Drupal Console is a suite of tools run from a command line 
 interface (CLI) to generate boilerplate code and interact with 
 a Drupal 8 installation.
